<!-- Footer -->
<div class="footer box-100">
    <div class="box-90">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-4 col-sm-4">
                    <!-- EG1 Textual Logo using Great Vibes Font & Ultra-Dim Micro-Byline -->
                    <a href="index.html" class="eg1-logo-link" title="EG1 Home">
                        <div class="eg1-logo-badge">
                            <div class="eg1-logo-content">
                                <span class="eg1-logo-script">EG1</span><span class="eg1-logo-domain">.in</span>
                            </div>
                            <div class="eg1-logo-byline" data-info="YnkgR2F1dGFtIEphbmdpZA=="></div>
                        </div>
                    </a>
                    <div class="footer-about-wrapper">
                        <p id="footer-about-text">A personal hobby website showcasing engineering applications, technical blogs, and creative software tools developed by EG1.</p>
                        <a href="about.html" class="color-yellow">Read more &rarr;</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 responsive-connect-col footer-col-center">
                    <h2>Follow</h2>
                    <ul class="social-icon">
                        <li>
                            <a href="https://github.com/EG1DOTIN" target="_blank" class="social-btn github"
                                title="GitHub">
                                <i class="icon icon-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/eg1dotin" target="_blank" class="social-btn facebook"
                                title="Facebook">
                                <i class="icon icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/eg1dotin" target="_blank" class="social-btn instagram"
                                title="Instagram">
                                <i class="icon icon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://X.com/eg1dotin" target="_blank" class="social-btn x-twitter"
                                title="X (Twitter)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 footer-col-center">
                    <h2>Contact</h2>
                    <div class="footer-contact-box">
                        <a href="contact.html" class="footer-email-btn" title="Contact Us">
                            <i class="icon icon-paper-plane"></i>
                            <span>Send Message</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-bar">
            <div class="footer-bottom-content">
                <span>&copy; 2026 EG1. All rights reserved.</span>
                <span class="footer-bottom-links">
                    <a href="privacypolicy.html">Privacy Policy</a> &bull;
                    <span>Developed By: <a href="https://www.eg1.in" target="_blank">EG1</a></span>
                </span>
            </div>
        </div>
    </div>
</div>